.nav-horizontal {
    display: inline-block;
    margin-top: 10px;
}

.nav-vertical {
    border: 1px solid black;
    display: inline-block;
    width: 150px;
}

.nav-horizontal {
    margin-left: 250px;
    padding: 0px!important;
}

.nav-horizontal div {
    display: inline;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(219, 219, 219);
}

.nav-vertical div {
    display: block;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(131, 239, 245);
}

.nav-horizontal a, .nav-vertical a {
    text-decoration: none;
}

.nav-vertical .nav-home {
    background-color: rgb(255, 187, 0);
}

.nav-vertical .nav-home a{
    color: white;
}

.nav-horizontal .nav-home a{
    color: white;
}

.nav-horizontal .nav-home {
    background-color: rgb(131, 131, 131);
}