.main-table {
    width: 600px;
    background-color: #96D4D4;
    margin-bottom: 100px;
}

.main-table, .main-table td, .main-table th {
    border: 1px solid black;
    border-radius: 10px;
}

.shapes-table {
    margin-left: 50px;
}

.shapes-table td {
    height: 70px;
    width: 110px;
    border: 3px solid rgb(155, 205, 55);
    border-radius: 7px;
}

.round-cell {
    border-radius: 20px!important;
}

.oval-cell {
    border-radius: 50%!important;
}

.round-sharp {
    border-bottom-left-radius: 20px!important;
    border-top-right-radius: 20px!important; 
}